# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEM file for module's individual certificate.
#*.PEM
#*.cer

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
examples/WBZ451_AnyCloud/firmware/WBZ451_AnyCloud.X/build/
examples/WBZ451_AnyCloud/firmware/WBZ451_AnyCloud.X/debug/
examples/WBZ451_AnyCloud/firmware/WBZ451_AnyCloud.X/.generated_files
examples/WBZ451_AnyCloud/firmware/WBZ451_Curiosity.X/build/
examples/WBZ451_AnyCloud/firmware/WBZ451_Curiosity.X/debug/
examples/WBZ451_AnyCloud/firmware/WBZ451_Curiosity.X/.generated_files
examples/WBZ451_AnyCloud/firmware/WBZ451_AnyCloud_Multimeter.X/build/
examples/WBZ451_AnyCloud/firmware/WBZ451_AnyCloud_Multimeter.X/debug/
examples/WBZ451_AnyCloud/firmware/WBZ451_AnyCloud_Multimeter.X/.generated_files
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
 
# Backup files
*.bak
/examples/WBZ451_AnyCloud/firmware/WBZ451_AnyCloud.X/dist/
/examples/PIC18F57Q84_AnyCloud/PIC18F57Q84_AnyCloud.X/build/
/examples/PIC18F57Q84_AnyCloud/PIC18F57Q84_AnyCloud.X/dist/